<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="authorize-net-plugin" version="0.0.1">
    <name>authorizeNetPlugin</name>

    <description>An Android Cordova plugin that allows users use the Authorize.Net semi-integrated in-person SDK</description>
    <license>MIT</license>

    <keywords>cordova,android,authorize,processing</keywords>
    <repo>https://github.com/saltynarwhal/authorizeNetPlugin.git</repo>
    <issue>https://github.com/saltynarwhal/authorizeNetPlugin</issue>

    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <js-module src="www/authorizeNetPlugin.js" name="authorizeNetPlugin">
        <clobbers target="window.plugins.authorizeNetPlugin" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="authorizeNetPlugin">
              <param name="android-package" value="com.saltynarwhal.cordova.plugin.authorizeNetPlugin"/>
            </feature>
            <preference name="minSdkVersion" value="21" />
            <preference name="targetSdkVersion" value="26" />
        </config-file>
        <edit-config file="AndroidManifest.xml" target="/manifest/uses-sdk" mode="merge">
          <uses-sdk android:minSdkVersion="21" android:maxSdkVersion="26" />
        </edit-config>
        <framework src="com.android.support:appcompat-v7:25.3.1" />
        <framework src="src/android/config.gradle" custom="true" type="gradleReference" />
        <source-file src="src/android/authorizeNetPlugin.java" target-dir="src/com/saltynarwhal/cordova/plugin" />
        <source-file src="src/android/libs/android-support-v4.jar" target-dir="libs" />
        <lib-file src="src/android/libs/emv-anet-sdk.aar" arch="device" />
    </platform>
</plugin>
